
<div id="restorant">
<strong>
В ресторант „Ханами” може да се потопите в елегантна и изтънчена  обстановка характеризираща се със семплата и изчистена визия на японския стил. Кухнята е интернационална, а в менюто предлагаме кулинарни ястия от близо и далеч, като акцентираме на здравословната храна приготвена с любов. Специално селектираните вина и приготвени ястия съчетани с отличното обслужване са способни да накарат всеки клиент да се почувства специален. Ресторант „Ханами” е разположен в новата бизнес сграда на фирма „Датекс” в Дружба 1 на последния етаж с прекрасна гледка към Витоша. Ресторанта разполага с 180 седящи места и може да осигури провеждането на коктейли над 250 човека. Капацитета и обстановката на ресторанта го правят подходящо място за провеждане на сватбени тържества, коктейли, гала-вечери, банкети, семейни и фирмени тържества, сватби, рожденни дни.
</strong>
</div>
