
<div id="wedding_menu">
 <h1> Сватбено меню </h1>
 <strong> Цена: 50.00 лв.</strong>
 <p class="hanami_menu">Салати<p>
 <ol>
 <li>Шопска салата с печена чушка 350 гр</li>
  <li>Гръцка салата 350 гр.</li>
  <h4>/домати, краставици, маслини, червен лук и мариновани сиренца с риган/</h4>
   <li>Салата „Ами” 350 гр.</li>
   <h4>
   	/домати, печена чушка, мариновано с балкански подправки краве сирене, залети с магданозено олио/
   </h4>
    <li>Овчарска салата 350 гр.</li>
     <li>Градинарска салата 350 гр.</li>
     <h4>/домати, маруля, топчета от сирене оваляни в копър и семки/</h4>
      <li>Салата „Капрезе” 350 гр.</li>
      <h4>/белени домати, моцарела поляти със сос „Песто”/</h4>
       <li>Салата „Асорти”350 гр.</li>
       <h4>/Снежанка, кьопоолу, домати, краставици, печена чушка, маслини/</h4>
        <li>Салата с крем от сирена 350 гр.</li>
        <h4>/домати, прясна зелена чушка с мус от сирене с лек пикантен вкус /</h4>
        </ol>
         <p class="hanami_menu">Предястия<p>
         <ol>
         <li>Пилешки ивички със сладко - пикантен сос и панировка от домашна галета 250 гр.</li>
           <li>Панирани сиренца върху пресни домати 250 гр.</li>
           <h4>/кашкавалчета върху пресни домати/</h4>
             <li>Рибни филенца върху свежа зелена салата, поляти със сос „Тартар” 250 гр.</li>
               <li>Италианска антипаста 250 гр.</li>
                <h4>/моцарела, тиквички, патладжани, домати/</h4>
                 <li>Пурички от печечени патладжани и тиквички с крем от сирена 250 гр</li>
                   <li>Креп ала Рейн</li>
                    <h4>/палачинка с пилешко филе, гъби, лук, чушка, сирене и сметана, запечена с кашкавал/</h4>
</ol>


</div>
